
<!-- <img src="assets/ele.jpg" style="width:100% ; height: 200px;" > -->

<div class="four">

    <div class="four-1">

        <div><h4>Color in Art</h4></div>
        <div class="pad"><p>Some of the main aspects of color include the color wheel, different color schemes, primary, secondary, and tertiary colors, complementary and analogous colors, hues, tones, tints, shades, saturation/intensity, value, and color temperature. </p></div>

        <div><h4>Value in Art	</h4></div>
        <div class="pad"><p>This refers to the light and dark aspects of color and it comes in low-key, high-key, or middle-key variations.</p></div>
        <div><h4>Line in Art</h4></div>
        <div class="pad"><p>There are different types of lines – horizontal, vertical, diagonal, short, long, curved, or zig-zag, which all can be applied to form a fundamental structure of an artwork and provides different effects like movement, rhythm, or emphasis.</p></div>
        <div><h4>Shape in Art</h4></div>
        <div class="pad"><p>Shape ranges from square, circular, triangular, or rectangular and is more two-dimensional, geometric, or organic.</p></div>
        <div><h4>Form in Art</h4></div>
        <div class="pad"><p>These range from cubic, spherical, pyramidal, or conical, among many others, and it is three-dimensional, and can be geometric or organic.</p></div>
        <div><h4>Texture in Art</h4></div>
        <div class="pad"><p>	This refers to the “surface quality” of artworks, which can be real or implied.</p></div>
        <div><h4>Space in Art</h4></div>
        <div class="pad"><p>This refers to the three-dimensionality or depth created in a composition, and it consists of positive and negative space, which can be utilized to create different effects. </p></div>

   
    </div>

    <div class="four-2">

        

   
    </div>

</div>
