<div class="one">

    <div class="a">
        <div class="a1">
            <h2> ABOUT ART </h2>
                <p>Art is a creative activity and technical skill. It produces a product, 
                    an object. Art is a diverse range of human activity, and resulting product,
                     that involves creative or imaginative talent expressive of technical proficiency, 
                     beauty, emotional power, or conceptual ideas.
                <br></p>  
          <hr>
            <h2> DEFINITION OF ART</h2>
    
            <p>
                There is no generally agreed definition of what constitutes art, and its interpretation has varied
                greatly throughout history and across cultures. In the Western tradition, the three classical
                branches of visual art are painting, sculpture, and architecture.
            </p>
       
           <p>
                
                Theatre, dance, and other
                performing arts, as well as literature, music, film and other media such as interactive media, are
                included in a broader definition of the arts. Creative ones are the ones.
            </p>
            
        
        </div>
        <div class="a2">
            <div><img src="assets/water.png" style="height: 200px; width: 200px;"></div>
            <div><img src="assets/sticky.jpg" style="height: 200px; width: 200px;"></div>
            <div><img src="assets/rubiks.png" style="height: 200px; width: 200px;"></div>
            <div><img src="assets/artdr.png" style="height: 200px; width: 200px;"></div>
        </div>
    

    </div>


</div>

