<div class="header">
    <div class="head1">
       <div><a routerLink="/homepage">logo</a></div> 
    </div>
    <div class="head2">
        <div> <a routerLink="/loginpage">check-in</a>  </div>
    </div>
</div>

<div class="numbers">

    <div class="one">
        <app-one></app-one>
    </div>

    <div class="two">
        <app-two></app-two>
    </div>
    
    <div class="three">
        <app-artforms></app-artforms>
    </div>
    
    <div class="four">
        <app-four></app-four>
    </div>

    <div class="foot">
        <app-foot></app-foot>
    </div>

    

       
</div>










<div class="footer">
<div>feedback()</div> 
<div>follow()</div> 
<div>download()</div> 
<div>share()</div> 
<div>like()</div>
</div> 