


<div class="header">
    
    <div class="head1">
       <div><a routerLink="/myartpage">my art</a> </div> 
    </div>
    <div class="head2">
        <div><a routerLink="/gallerypage">gallery</a>  </div>
        <div><a routerLink="/uploadpage">upload</a>  </div>
        <div><a routerLink="/shoppage">shop</a>  </div>
        <div><a routerLink="/cartpage">cart</a>  </div>
        <div><a routerLink="/homepage">check-out</a>  </div>
    </div>
</div>


<div class="main">
<div class="main1"></div>
<div class="main2"></div>
<div class="main3"></div>
<div class="main4"></div>
<div class="main5"></div>
<div class="main6"></div>
</div>
<br>




<div class="footer">
   <div>feedback()</div> 
   <div>follow()</div> 
   <div>download()</div> 
   <div>share()</div> 
   <div>like()</div>
</div>
