



<div class="mytabs">
   
    <input type="radio" id="CREATIVE" name="mytabs"  checked="checked">
    <label for="CREATIVE">CREATIVE ART</label>
    <div class="tab">
        <div>
            What is Creative Art?<br><br>
            Creative arts are a form of expression not bound by language. They involve skill, imagination, and inspiration. The creative arts have been around for centuries. They are often associated with the human mind and creativity. <br><br>
            The study of Creative Arts develops emotional intelligence, confidence and resilience, discipline and commitment, communications skills, identity and belonging, creativity and problem-solving skills and coordination.<br><br>
            
        </div>
        <div>
            <img src="/assets/creativeart.jpg" style="width:600px ; height: 500px">
        </div>
    </div>
    <input type="radio" id="GRAFFITI" name="mytabs" >
    <label for="GRAFFITI">GRAFFITI ART</label>
    <div class="tab">
        <div>
            What is graffiti art ?? <br><br>
            Definition, Meaning. One of the most radical contemporary art movements, "graffiti art" (also called "Street Art", "Spraycan Art", "Subway Art" or "Aerosol Art") commonly refers to decorative imagery applied by paint or other means to buildings, public transport or other property. <br><br>
            Graffiti, while once considered vandalism, is becoming more widely recognized as a type of artwork. However, it is still not always positively received or universally accepted as art by the general public. <br><br>
        </div>
        <div>
            <img src="/assets/graffitiart.webp" style="width:600px ; height: 500px">
        </div>
    </div>
    <input type="radio" id="DIGITAL" name="mytabs" >
    <label for="DIGITAL">DIGITAL ART</label>
    <div class="tab">
        <div>
            What is Digital art ?? <br><br>
            Digital art, once called computer art or new media art, refers to art made using software, computers, or other electronic devices. Anything produced or made on digital media, such as animations, photographs, illustrations, videos, digital paintings, and such can be classified as digital art. <br><br>
            In this technology-driven world that we live in today, almost everything is digitalized. We use computers to check our mail, smartphones to communicate, and send photos and videos to each other using social media. Like everything else, art has also started going digital. Younger generations have grown up with digital art, but it is still a very new concept for many of us. <br><br> 
        </div>
        <div>
            <img src="/assets/digitalart.jpg" style="width:600px ; height: 500px">
        </div>
    </div>
    <input type="radio" id="TATTOO" name="mytabs" >
    <label for="TATTOO">TATTOO ART</label>
    <div class="tab">
        <div>
            What is Tattoo art ?? <br><br>
            A tattoo is a form of body modification made by inserting tattoo ink, dyes, and/or pigments, either indelible or temporary, into the dermis layer of the skin to form a design. Tattoo artists create these designs using several tattooing processes and techniques, including hand-tapped traditional tattoos and modern tattoo machines. The history of tattooing goes back to Neolithic times, practiced across the globe by many cultures, and the symbolism and impact of tattoos varies in different places and cultures. <br><br>
        </div>
        <div>
            <img src="/assets/tattooart.jpg" style="width:600px ; height: 500px">
        </div>
    </div>
    <input type="radio" id="MORE" name="mytabs" >
    <label for="MORE">OTHER ART FORMS</label>
    <div class="tab">
        <h2>OTHER ARTS</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sit neque. Modi officiis possimus nesciunt nam sunt exercitationem iusto provident temporibus illo ipsum, animi necessitatibus magni! In, atque temporibus aliquid officiis earum ullam distinctio aut quisquam delectus. Laborum ad, iste a vel, quidem odit voluptas soluta perspiciatis iusto necessitatibus dolor sit id fuga consectetur, facere eos. Veritatis assumenda neque libero placeat ducimus animi nostrum, eos cum odit perferendis eius voluptatem iste numquam dolore esse in dolores ullam saepe cumque nisi ex? Itaque, iste id! Fugiat ducimus suscipit quia incidunt, autem sint natus nostrum illum eligendi quos repellendus quod expedita iusto.
        </p>
    </div>
    <input type="radio" id="OTHER" name="mytabs" >
    <label for="OTHER">MORE ART FORMS</label>
    <div class="tab">
        <h2>MORE ART</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sit neque. Modi officiis possimus nesciunt nam sunt exercitationem iusto provident temporibus illo ipsum, animi necessitatibus magni! In, atque temporibus aliquid officiis earum ullam distinctio aut quisquam delectus. Laborum ad, iste a vel, quidem odit voluptas soluta perspiciatis iusto necessitatibus dolor sit id fuga consectetur, facere eos. Veritatis assumenda neque libero placeat ducimus animi nostrum, eos cum odit perferendis eius voluptatem iste numquam dolore esse in dolores ullam saepe cumque nisi ex? Itaque, iste id! Fugiat ducimus suscipit quia incidunt, autem sint natus nostrum illum eligendi quos repellendus quod expedita iusto.
        </p>
    </div>
</div>   




            




        
