
<div class="foot">
    <div><h2>MORE</h2>
    
    </div>
    <div><h2>SOCIALIZE</h2>
    <h4> blog</h4> 
    <h4> community</h4> 
    <h4> forum</h4> 
    <h4> chatrooms</h4> 
    </div>
    <div><h2>CALENDER</h2>
        <h4> events</h4> 
        <h4> gatherings</h4> 
        <h4> workshops</h4> 
        <h4> parties</h4> 
    </div>
    <div><h2>TOOLS </h2>
        <h4> Vs-code</h4> 
        <h4> github - bitbucket</h4> 
        <h4> angular</h4> 
        <h4>typescript</h4>
    </div>
    <div><h2>COMPANY</h2>
        <h4> about</h4> 
        <h4> connect</h4> 
        <h4>  carrer</h4> 
        <h4> invest</h4> 
    </div>
</div>