<p>productlist works!</p>


<div class="productslist">
     
    <div>pencils</div>
    <div>shading pencils</div>
    <div>charcoal pencils</div>
    <div>caligraphy pencils</div>
    <div>colour pencils</div>
    <div>pen pencils</div>
    <div>crayons</div>
    <div>water colours</div>
    <div>oil colours</div>
    <div>sketch pens</div>
    <div>caligraphy sketch pens</div>
    <div>spray cans</div>
 
</div>

<hr>

<div class="accessaries">
       
    <div>sharpners</div>
    <div>eraser</div>
    <div>leads</div>
    <div>containers</div>
    <div>pouches</div>
    <div>colour tray</div>
    <div>canvas stand</div>
    <div>bagpacks</div>
    <div>colour removers</div>
    <div>stencils</div>
    <div>spray guns</div>
    <div>colour box</div>
    <div>coulour mixing tray</div>
    <div>brush tips</div>
    <div>sketchbooks</div>
    <div>colour sketch refils</div>
    <div>brushes</div>
    <div> cups and jars</div>
    <div> pallette knifes</div>
    <div>Colour Shapers Tools</div>
    <div>spray can tips</div>

</div>
